fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg[binary]
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
reportlab
pytest
httpx
python-magic   # opcional para checar mime types
